{
    "DISCORD_TOKEN": "DISCORD_TOKEN_HERE",
    "CWA_API_KEY": "CWB-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "ADSB_API_URL": "http://www.youradsbstation.example/tar1090/data/aircraft.json",
    "OWNER_ID": 1234567890,
    "OWNER_SERVER_ID": 1234567890,
    "CONSOLE_ID": 1234567890,
    "CONSOLE_COMMAND_ID": 1234567890,
    "CONSOLE_PUSH_ID": 1234567890,
    "MOENV_API_KEY": "MOENV_API_KEY_HERE"
}